*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

td{
	padding-left: 20;
}

th{
	padding-top: 20;
	padding-left: 20;
}
.bg-area{
	background-image: url("picture/bg.jpg");
	-webkit-background-size:cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}
.bg-text{
	position: absolute;
	background-color: rgba(0, 0,0, 0.6);
	transform: translate(-0%,-100%);
	z-index: 5;
	width: 100%;
	padding-left: 10%;
	padding-right: 5%;
	color: white;
}

